* {  
  color: rgba(255,255,255,0.8);
  font-family: 'Overpass Mono', 'Noto Serif TC';
  font-size: 20px;
}
body, html {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
}
.nav {
  background-color: green;
  width: 100%;
  color: #000;
  display: flex;
  justify-content: flex-start;
}
.nav > * {
  margin: 20px;
}
.nav__help{
  color: yellow;
}
.board::-webkit-scrollbar {
  width: 5px;
}
.board::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgb(255, 255, 255);
}
.board::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(0, 0, 0);
}
.board{
  height: calc(100vh - 144px);
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
}
.board > :first-child {
  margin-top: auto !important;
}
.board__content{
  margin-right: 50px;
  margin-bottom: 12px;
  margin-left: 20px;
}
.controller {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  background: rgb(0, 0, 0);
  border-top: 1px solid rgb(255, 255, 255);
}

.controller * {
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid #000;
}
.controller__jump:hover { background: red; }
.controller__stop:hover { background: red; }
.controller__replay:hover { background: red; }
.controller__left a:hover { background: red; }

.controller__left {
  display: flex;
  flex-direction: row;
}
.controller__right {
  margin-right: 20px;
}

.controller__right a:hover{ background: green;}

.system--text {
  color: red;
}
.name--text {
  color: yellow;
}
a {
  text-decoration: none;
}
.hide{
  display: none;
}

div[data-message-id] {
  padding: 0 2rem;
}

div[data-message-id] span {
  color: yellow;
}

.login__label {
  cursor: pointer;
}
.login__modal {
  display: none;
}
.login__modal input {
  border: none;
  border-bottom: 1px solid white;
  background: black;
  color: white;
}
.login__modal input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid yellow;
}
.login {
  opacity: 0;
}
.login:checked ~ .login__label {
  text-decoration: underline;
}
.login:checked ~ .login__modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background: #000;
  padding: 2rem 4rem;
} 

.login:checked ~ .login__modal label {
  margin-top: 20px;
} 
